body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.carcaca {
    margin-right: 0%;
    border: 1px solid red;
    width: 40%;
    height: 90vh;
    max-width: 100%;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    background-color: #f93333;
    position: relative;
}

.carcacaBotao {
    width: 43%;
    height: 70vh;
    max-width: 100%;
    background-color: #f93333;
    border-radius: 0px 20px 20px 0px;
}

.botoes {
    border: 3px solid;
    border: 1px solid pink;
    height: 80%;
    width: 94%;
    max-width: 100%;
    margin-top: 10%;
    border-radius: 10px;
    margin: 0 auto;
}

.circulo1 {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to top, rgb(109, 198, 250), rgb(209, 252, 255));
    border-radius: 50%;
    box-shadow:2px 2px 3px black;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.circulo2 {
    width: 60px;
    height: 60px;
    background-color: rgb(2, 196, 255);
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    /* 15 + 40 */
    left: 55px;
    /* 15 + 40 */
    transform: translate(-50%, -50%);
    z-index: 2;
}



.nome,
.numeroPokemon,
.tipoPokemon {
    display: block;
    width: 95%;
    border: none;
    text-align: center;
}

.imagemPokemon {
    border: 1px solid blue;
}

.tela {
    background-color: #fff;
    height: 50%;
    padding: 30px;
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30%;
    border: 2px solid #1b2e29;
    box-shadow: inset 4px 0 3px #665c5a, inset -4px 0 3px #665c5a, inset 0 -4px 4px #665c5a;
    display: flex;
    /* Transforma o '.tela' em um contêiner flex */
    flex-direction: column;
    /* Organiza os itens em coluna (um abaixo do outro) */
    justify-content: center;
    /* Centraliza os itens verticalmente */
    align-items: center;
    border-radius: 20px 20px 20px 0px;
}

#pokemon {
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 98%;
    max-width: 100%;
    height: 20%;
    font-family: "Press Start 2P", system-ui;
    font-size: 13px;
    background-color: rgb(31, 29, 29);
    border: 2px solid;
    box-shadow: inset 0 0 10px black;
    display: block;
}

#pokemon::placeholder {
    /*:: indica uma pseudoclasse*/
    color: #fff;
    padding-left: 5%;
}

button {
    display: block;
    margin-left: 5%;
    height: 30%;
    width: 90%;
    max-width: 100%;
    background-color: hsl(197, 100%, 50%);
    font-family: "Press Start 2P", system-ui;
    font-size: 13px;
    box-shadow: 4px 4px 8px black;
}

.misty img {
    margin-left: 10%;
    width: 50%;
    max-width: 100%;
    height: auto;
    border: 1px solid;
}

.ash img {
    border: 1px solid;
    width: 90%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}


.conteudo {
    display: flex;
    height: 100%;
    border: 1px solid red;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-end;
}