body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex {
    margin: 0 auto;
    border: 1px solid red;
    width: 35%;
    height: 70vh;
    max-width: 100%;
}

.nome {
    border: none;
}

.misty img{
    width: 20%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.ash img{
    width: 30%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}


.conteudo{
    display: flex;
    height: 100%;
    border: 1px solid red;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}